<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>DCA Simulator</title>
    {% endif %}
</head>
<body style="text-align: center; padding: 10%; font-size: 2rem;">
    <div id="settings">
        <p>Username: {{ data['username'] }}</p>
        <p>Money: {{ data['money'] }}</p>
        <p>Stock: {{ data['stock_name'] }}</p>
        <p>Stocks owned: {{ data['stocks']|round(2, "floor") }}</p>
        {% if cleared == "1" %}
            <p style="color: red;">Data cleared</p>
        {% endif %}
        <form action="/game" method="post">
            <input type="hidden" name="username" value="{{ data['username'] }}">
            <input type="hidden" name="buySell" value="hold">
            <input type="submit" value="Play" class="blueBtn"><br>
        </form>
    </div>
</body>
</html>