<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>DCA Simulator</title>
    {% endif %}
</head>
<body class="centeredContent">
    <div id="header">
        <h1>DCA Simulator</h1>
    </div>
    <div id="content">
        <h1>Check stock data: </h1>
        <form action="/stock" method="post">
            <label for="stock">Choose a stock:</label>
            <select id="stock" name="stock">
                {% for stock in stock_names %}
                    <option value="{{ stock }}">{{ stock }}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="Check" class="blueBtn">
        </form>
        <br>
        <h1>View Ranking</h1>
        <a href="/seeRanking"><input type="button" class="blueBtn" value="Ranking"></a>
        <h1>Create simulation</h1>
        <a href="/simulationForm"><input type="button" class="blueBtn" value="Go to simulation form"></a>
        <h1>Play a market simulation game</h1>
        <a href="/playGame"><input type="button" class="blueBtn" value="Play"></a>
    </div>
</body>
</html>