<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <div class="form-container centeredContent">
        <h1>Logowanie</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Hasło</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Zaloguj się">
        </form>
        <a href="{{ url_for('register') }}">Nie masz konta? Zarejestruj się</a>
    </div>
</body>
</html>